*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dominante:#021526;
    --texto: #EEEEEE;
    --detalhe-01:#03346E;
    --detalhe-02:#6EACDA;
    --detalhe-03:#0B60B0;
}

body{
    background: linear-gradient(180deg, var(--detalhe-03) 0%, var(--dominante) 25% );
    font-size: 24px;
    color: var(--texto);

    
  
}


header{
    position: fixed;
    top: 0;
    background-color: var(--detalhe-01);
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 15px;
    border-bottom: 1px solid black;  

}

header nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#nav-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--texto);
    margin-right: 50px;
}

#mobile-menu{
    cursor: pointer;
    display: none;
}

#mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--texto);
    margin: 5px;
}

main{
    text-align: center;
}

#sobre-mim{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao{
    margin-top: 30px;
    width: 500px;
    
}


.apresentacao img{
    width: 200px;
    height: auto;
}

.redes{
    margin-top: 30px;
    
}

.redes ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border: 2px solid var(--texto);
    border-radius: 10px;
    margin: 10px;
}

ul li img{
    width: 30px;
    height: auto;
}

#habilidades{
    display: flex;
    flex-direction: column;
    margin-top:30px;
    row-gap: 30px;
    align-items: center;
}   

#habilidades ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border: 2px solid var(--texto);
    border-radius: 10px;
    margin: 10px;
    width: 243px;
}

#projetos{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

#projetos section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;    
}

#projetos section img{
    width: 25rem;
}

#projetos section a{
    text-decoration: underline;
    color:var(--detalhe-02);
}

@media(max-width:999px) {
    
    body{
        overflow-x: hidden;
        width: 100%;
    }

    header nav {
        width: 100%;

    }
    header {
    position: fixed;      
    top: 0;               
    left: 0;              
    width: 100%;         
    z-index: 10000;      
    background: var(--dominante); 
    display: flex;        
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    }

 
    main {
        margin-top: 60px; 
    }

    #nav-list{
    position: fixed;
    margin-top: 37px; 
    top: 7.49;    
    right: 0;             
    height: 100vh;         
    width: 40vw;          
    max-width: 350px;     
    border-bottom-left-radius: 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background: var(--dominante);
    display: flex;
    flex-direction: column;
    gap: 0;
    z-index: 9999;       
    transform: translateX(100%); 
    transition: transform .3s ease-in-out, opacity .25s .05s;
    opacity: 0;
    pointer-events: none;  
  }

  #nav-list li {
    margin-left: 0;
    padding: 1.25rem;
  }


  #mobile-menu {
    display: block;
    cursor: pointer;
    z-index: 10000; 
  }

 
  #nav-list.active {
    transform: translateX(0); 
    opacity: 1;
    pointer-events: auto;
  }

}

@media(max-width:506px){

    .apresentacao{
        width: 18.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

@media(min-width:1000px) {
     #nav-list {
        position: static;
        opacity: 1;
        pointer-events: auto;
        transform: none;
        width: auto;
        flex-direction: row;
    }
}